.signInBtn {
    background-color: #000;
    color: #fff;
    max-width: 15vw;
    text-align: center;
    padding: 15px;
    border-radius: 7px;
    font-size: 1.25vmax;
    font-family: 'Zilla Slab', serif;
    cursor: pointer;
}

.google {
    max-width: 2vmax;
}

.google1 {
    vertical-align: middle;
}

@media screen and (max-width: 768px){
    .signInBtn {
        font-size: 2vmax;
        max-width: 25vw;
    }

    .google{
        max-width: 3vmax;
    }
}