.signInBtn {
    background-color: #fff;
    color: #000;
    max-width: 15vw;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    font-size: 1.25vmax;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: 2px #000 solid;
}

.google {
    max-width: 2vmax;
    vertical-align: middle;
    margin-right: -15px;
}

@media screen and (max-width: 768px){
    .signInBtn {
        font-size: 2vmax;
        max-width: 25vw;
    }

    .google{
        max-width: 3vmax;
    }
}