.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #FFCB2B;
}

h2 {
    font-family: 'Poppins', sans-serif;
    padding-top: 1vh;
}

.user-info {
    display: flex;
    justify-content: center;
    font-size: 1.25vmax;
    font-family: 'Poppins', sans-serif;
}

.welcome {
    padding: 1vmax;
}

.navbar-img {
    height: 7vh;
    border-radius: 0.75vmax;
}

.userName {
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .welcome {
        display: none;
    }

    .userName {
        display: none;
    }
}