.createPost {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-size: 1.25vmax;
    font-family: 'Zilla Slab', serif;
}

@media screen and (max-width: 768px) {
    .createPost {
        font-size: 3vmax;
    }
}